table {
  border-spacing: 10px;
  border: 1 px solid white;
}

table {
  table-layout: auto;
  border-collapse: collapse;
}
th,
td {
  margin: 0;
  padding: 0.2rem 1.25rem;
}
th {
  text-align: center;
}

.td {
  font-weight: bold;
  color: #777777;
}
.heading {
  font-weight: bold;
  text-align: center;
  padding: 0;
}
thead {
  width: 100%;
}
