.header {
  background-color: #ededed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
  height: 7rem;
  width: 100%;
}

.header h1 {
  color: #777777;
  font-weight: bold;
  text-align: center;
  display: inline-block;
}
@media only screen and (max-width: 600px) {
  .header h1 {
    font-size: medium;
  }
}
img {
  width: 3rem;
}
